.login-form {
	display: flex;
	flex-direction: column;
	width: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #ececec;
	box-shadow: 0 0 10px 0 #aaaaaa;
	padding: 20px;
	border-radius: 5px;
}

.login-form div {
	margin-bottom: 10px;
}